<%
    var isCarverDataAvailable = false; // This flag will change if specified carver data is available
    var concreteYear = false; // This flag will be set to true if the user requests carver data for a specific year

    /*
     * Checks to see if year is specified for carver data pull. Sets year for
     * carver data pull to current year is none is specified by the user. Finally
     * verifies that the data source is available before proceeding
     */
    if(year) {
        concreteYear = true;
    } else {
        var year = new Date().getFullYear()
    }

    dataSource = year+"-carvers";

    if( site.data[dataSource]) {
        isCarverDataAvailable = true;
        var carverData = site.data[dataSource];
    }

    if(!concreteYear) {
        year ++;
        dataSource = year+"-carvers";
        if( site.data[dataSource]) {
            isCarverDataAvailable = true;
            var carverData = site.data[dataSource];
        }
    }

    if(isCarverDataAvailable) {

        var sortedCarverData = carverData; // Copy of the carver data that will be iterated over

        // Sorts carver data by last name then first name
        sortedCarverData = _.sortBy(carverData, ['name-last','name-first']);
    }
%>

<table>
    <thead>
        <tr>
            <th>Last</th>
            <th>First</th>
            <th>Nickname</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        <% for( var i = 0; i < carverData.length; i++) { %>
            <tr>
                <% if( sortedCarverData[i]['name-last']) { %>
                    <td><%- sortedCarverData[i]['name-last'] %></td>
                <% } else { %>
                    <td>&nbsp;</td>
                <% } %>

                <% if( sortedCarverData[i]['name-first']) { %>
                    <td><%- sortedCarverData[i]['name-first'] %></td>
                <% } else { %>
                    <td>&nbsp;</td>
                <% } %>

                <% if( sortedCarverData[i]['name-nickname']) { %>
                    <td><%- sortedCarverData[i]['name-nickname'] %></td>
                <% } else { %>
                    <td>&nbsp;</td>
                <% } %>

                <% if( sortedCarverData[i]['city']) { %>
                    <td><%- sortedCarverData[i]['city'] %></td>
                <% } else { %>
                    <td>&nbsp;</td>
                <% } %>

                <% if( sortedCarverData[i]['state']) { %>
                    <td><%- sortedCarverData[i]['state'] %></td>
                <% } else { %>
                    <td>&nbsp;</td>
                <% } %>

                <% if( sortedCarverData[i]['country']) { %>
                    <td><%- sortedCarverData[i]['country'] %></td>
                <% } else { %>
                    <td>&nbsp;</td>
                <% } %>
            </tr>
        <% } %>
    </tbody>
</table>