<%
    var isCarverDataAvailable = false; // This flag will change if specified carver data is available
    var concreteYear = false; // This flag will be set to true if the user requests carver data for a specific year

    /*
     * Checks to see if year is specified for carver data pull. Sets year for
     * carver data pull to current year is none is specified by the user. Finally
     * verifies that the data source is available before proceeding
     */
    if(year) {
        concreteYear = true;
    } else {
        var year = new Date().getFullYear()
    }

    dataSource = year+"-carvers";

    if( site.data[dataSource]) {
        isCarverDataAvailable = true;
        var carverData = site.data[dataSource];
    }

    if(!concreteYear) {
        year ++;
        dataSource = year+"-carvers";
        if( site.data[dataSource]) {
            isCarverDataAvailable = true;
            var carverData = site.data[dataSource];
        }
    }

    if (typeof carverData === undefined) {
        isCarverDataAvailable = false;
    }
    
    if(isCarverDataAvailable) {
        /*
         * Sets maximum number of carver data to pull if user did not set, or
         * limites to a value that is in range of the data source. Will return
         * the highest number available if user's value is above the range. Always  
         * returns at least one carver data set
         */
        if(maxCount) {
            maxCount = _.clamp(maxCount, 1, carverData.length);
        } else {
             var maxCount = carverData.length;
        }

        var sortedCarverData = carverData; // Copy of the carver data that will be iterated over

        /*
         * Tries to sort data set by fields specified by the user, randomly, or
         * as manually entered. LoDash defaults to manually entered if problem
         * is encountered during the sort parameters
         */
        if(sort) {
            if(sort != "random") {
                sortedCarverData = _.sortBy(carverData, sort);
            } else {
                sortedCarverData = _.shuffle(carverData);
            }
        } else {
            var sort;
        }
%>

<!-- Carvers Attending Start-->
<section class="tc-carvers-attending uk-section uk-section-small" id="tc-carvers-attending">
        <div class="uk-container">
            <% if (maxCount == carverData.length) { %>
                <h2 class="title1 title-center mb60">Carvers attending in <%- year %></h2>
            <% } else { %>
                <h2 class="title1 title-center mb60">Just a few of the carvers attending in <%- year %></h2>
            <% } %>
            <div class="uk-grid uk-flex-center" uk-grid >
                <% for( var i = 0; i < maxCount; i++) { %>
                <div class="tc-carver uk-width-1-4@m uk-width-1-3@s uk-width-1-2">
                    <div class="member-style1 member-align-center member-light">
                        <div class="member-photo">
                            <img
                                src="<%- url_for("/assets/"+year+"/carvers/no-image.png") %>"
                                alt="<%- sortedCarverData[i]['name-first'] %> <%- sortedCarverData[i]['name-last'] %>" 
                            <% if(sortedCarverData[i].image) { %>
                                data-srcset="<%- url_for("/assets/"+year+"/carvers/"+sortedCarverData[i].image) %>"
                                class="lazy"
                            <% } %>
                            />
                            <% if(sortedCarverData[i].links) {
                                carverLinks = sortedCarverData[i].links
                            %>
                            <div class="member-icons">
                            <%
                                _.forEach(carverLinks, function(value, key) {
                                    if(carverLinks[key].link) {
                                        if(! carverLinks[key].icon){
                                            carverLinks[key].icon = "fa-solid fa-link"
                                        }
                            %>
                                <a href="<%- url_for(carverLinks[key].link) %>" title="<%- carverLinks[value] %>" class="member-icon hvr-bounce-in" target="_blank">
                                    <i class="<%- carverLinks[key].icon %>"></i>
                                </a>
                            <%
                                    }
                                });
                            %>
                            </div>
                            <% } %>
                        </div>
                        <div class="member-info">
                            <h3 class="member-name"><%- sortedCarverData[i]['name-first'] %> <%- sortedCarverData[i]['name-last'] %></h3>
                            <% if(sortedCarverData[i]['business']) { %>
                            <h3 class="member-name"><span class="member-business"><%- sortedCarverData[i]['business'] %></span></h3>
                            <% } %>
                            <% if(sortedCarverData[i]['state']) { %>
                                <span class="member-stateCountry"><%- sortedCarverData[i]['state'] %></span>
                            <% } else if(sortedCarverData[i]['country']) { %>
                                <span class="member-stateCountry"><%- sortedCarverData[i]['country'] %></span>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% } %>
                <% if(maxCount < carverData.length ) { %>
                <div class="uk-width-1-1 uk-text-center uk-margin-large-top">
                    <a href="<%- url_for("/"+year+"/carvers") %>" class="readon">View all the carvers</a>
                </div>
                <% } %>
            </div>
        </div>
    </section>
    <!-- Carvers Attending End -->
<% } %>