<!-- Highlights Start -->
<section class="tc-event-highlights uk-section uk-section-secondary uk-light" id="tc-event-highlights">
    <div class=" uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-3@m">
                <div class="title1">
                    <h3 class="uk-h2">Don't Miss Out</h3>
                    <p>This is an event you'll want to mark in your calendar and invite all your friends to attend</p>

                    <!-- Button code -->
                    <div title="Add to Calendar" class="addeventatc">
                        Add to Calendar
                        <span class="start">04/25/2019 12:00 PM</span>
                        <span class="end">04/28/2019 5:00 PM</span>
                        <span class="all_day_event">true</span>
                        <span class="timezone">America/New_York</span>
                        <span class="title">2019 Chainsaw Carvers Rendezvous</span>
                        <span class="description">More information at http://chainsawrendezvous.org</span>
                        <span class="location">Ridgway, PA</span>
                        <span class="calname">2019-rendezvous</span>
                    </div>
                </div>
            </div>
            <div class="uk-width-2-3@m">
                <div class="uk-child-width-1-2@m uk-grid-medium" uk-grid>
                    <div class="event-highlight">
                        <div class="uk-inline uk-transition-toggle">
                            <img src="<%- url_for("assets/2019/ridgway-courthouse.jpg") %>" alt="Elk County Courthouse">
                            <div class="uk-transition-fade uk-overlay uk-overlay-primary uk-dark uk-position-cover">
                                <h3>Food, Arts & Crafts</h3>
                                <p>Feed your appetite or support local artists</p>
                            </div>
                        </div>
                        <h3 class="uk-margin-medium-bottom uk-margin-small-top">Vendors</h3>
                    </div>
                    <div class="event-highlight">
                        <div class="uk-inline uk-transition-toggle">
                            <img src="<%- url_for("assets/2019/temp-awards-highlight.jpg") %>" alt="Carver Awards">
                            <div class="uk-transition-fade uk-overlay uk-overlay-primary uk-dark uk-position-cover">
                                <h3>Carver Awards</h3>
                                <p>Learn how you can help decide two of the three awards we are presenting at this year's Rendezvous</p>
                                <a href="<%- url_for("2019/awards/") %>" class="readon success"><i class="fas fa-star fa-lg"></i> Find where to vote</a>
                            </div>
                        </div>
                        <h3 class="uk-margin-medium-bottom uk-margin-small-top">Vote for 'Best of Show' awards</h3>
                    </div>
                    <!--
                    <div class="event-highlight">
                        <div class="uk-inline uk-transition-toggle">
                            <img src="<%- url_for("assets/2019/ymca-triathalon.jpg") %>" alt="Ridgway YMCA Triathalon Participants">
                            <div class="uk-transition-fade uk-overlay uk-overlay-primary uk-dark uk-position-cover">
                                <h3>Run. Bike. Paddle.</h3>
                                <p>Happening the same weekend as the Rendezvous is the 37th Annual Ridgway YMCA Triathlon and Challenge</p>
                                <a href="http://www.ymcaridgway.com/events/2018-ridgway-triathlon/" class="readon pink"><i class="fas fa-bicycle fa-lg"></i> Ridgway YMCA site</a>
                            </div>
                        </div>
                        <h3 class="uk-margin-medium-bottom uk-margin-small-top">Ridgway YMCA Triathalon</h3>
                    </div>
                    <div class="event-highlight">
                        <div class="uk-inline uk-transition-toggle">
                            <img src="<%- url_for("assets/2019/playing-cards-carved.jpg") %>" alt="Carved Ace of Hearts card">
                            <div class="uk-transition-fade uk-overlay uk-overlay-primary uk-dark uk-position-cover">
                                <h3>Feeling Lucky?</h3>
                                <p>Top carvers rip through logs at the Seneca Allegany Casino to create sculptures for you to place the winning bid on.</p>
                                <a href="https://fb.com/CarvingAtTheCasino" class="readon primary"><i class="fab fa-facebook fa-lg"></i> More info on the Facebook page</a>
                            </div>
                        </div>
                        <h3 class="uk-margin-medium-bottom uk-margin-small-top">Carving at the Casino</h3>
                    </div>
                    -->
                </div>
            </div>
        </div>                        
    </div>
</section>
<!-- Highlights End -->