<!-- Highlights Start -->
<section class="tc-event-highlights uk-section uk-section-secondary uk-light" id="tc-event-highlights">
    <div class=" uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-3@m">
                <div class="title1">
                    <h3 class="uk-h2">Don't Miss Out</h3>
                    <p>This is an event you'll want to mark in your calendar and invite all your friends to attend</p>

                    <!-- https://github.com/jekuer/add-to-calendar-button -->
                    <!-- <div class="atcb">
                        <script type="application/ld+json">
                        {
                          "event": {
                            "@context":"https://schema.org",
                            "@type":"Event",
                            "name":"2025 Chainsaw Carvers Rendezvous",
                            "description":[p]"The Rendezvous returns to Rigway, PA[/p][p]Event site: [url]https://chainsawrendezvous.org[/url][/p][p]Schedule: [url]https://chainsawrendezvous.org/schedule[/url][/p][p]Carvers attending: [url]https://chainsawrendezvous.org/carvers[/url][/p]",
                            "startDate":"2024-09-18",
                            "location":"Ridgway Mills Campground, 260 West Main Street, Ridgway, PA 15853"
                          },
                          "options":["Apple", "Google", "iCal", "Microsoft365", "Outlook.com", "MicrosoftTeams", "Yahoo"],
                          "iCalFileName":"2025-rendezvous"
                        }
                        </script>
                      </div> -->
                      <add-to-calendar-button
  name="2025 Chainsaw Carvers Rendezvous"
  options="'Apple', 'Google', 'iCal', 'Microsoft365', 'Outlook.com', 'MicrosoftTeams', 'Yahoo'"
  location="Ridgway Mills Campground, 260 West Main Street, Ridgway, PA 15853"
  startDate="2025-04-23"
  endDate="2025-04-26"
  description="The Rendezvous returns to Rigway, PA[br]Event site: [url]https://chainsawrendezvous.org[/url][br]Schedule: [url]https://chainsawrendezvous.org/schedule[/url][br]Carvers attending: [url]https://chainsawrendezvous.org/carvers[/url]"
  iCalFileName="2025-rendezvous"
></add-to-calendar-button>
                    </div>
            </div>
            <div class="uk-width-2-3@m">
                <div class="uk-child-width-1-2@m uk-grid-medium" uk-grid>
                    <div class="event-highlight">
                        <div class="uk-inline uk-transition-toggle">
                            <img src="<%- url_for("assets/2019/ridgway-courthouse.jpg") %>" alt="Elk County Courthouse">
                            <div class="uk-transition-fade uk-overlay uk-overlay-primary uk-dark uk-position-cover">
                                <h3>Food, Arts & Crafts</h3>
                                <p>Feed your appetite and support local crafters</p>
                                <a href="<%- url_for("2025/vendor-info") %>" class="readon red"><i class="fas fa-tag fa-lg"></i> Who's Attending</a>
                            </div>
                        </div>
                        <h3 class="uk-margin-medium-bottom uk-margin-small-top">Vendors</h3>
                    </div>
                    <!-- <div class="event-highlight">
                        <div class="uk-inline uk-transition-toggle">
                            <img src="<%- url_for("assets/2019/temp-awards-highlight.jpg") %>" alt="Carver Awards">
                            <div class="uk-transition-fade uk-overlay uk-overlay-primary uk-dark uk-position-cover">
                                <h3>Carver Awards</h3>
                                <p>Learn how you can help decide two of the three awards we are presenting at this year's Rendezvous</p>
                                <a href="<%- url_for("2022/awards/") %>" class="readon success"><i class="fas fa-star fa-lg"></i> Find where to vote</a>
                            </div>
                        </div>
                        <h3 class="uk-margin-medium-bottom uk-margin-small-top">Vote for 'Best of Show' awards</h3>
                    </div> -->
                    
                    <div class="event-highlight">
                        <div class="uk-inline uk-transition-toggle">
                            <img src="<%- url_for("assets/2022/hero-slides/guitar-painting-rick-boni.jpg") %>" alt="Guitarist Painting by Rick Boni">
                            <div class="uk-transition-fade uk-overlay uk-overlay-primary uk-dark uk-position-cover">
                                <h3>Musical Entertainment</h3>
                                <p>Line-up of talentend musical performers on Friday and Saturdy</p>
                                <a href="<%- url_for("2025/entertainment") %>" class="readon pink"><i class="fas fa-music fa-lg"></i> Lineup</a>
                            </div>
                        </div>
                        <h3 class="uk-margin-medium-bottom uk-margin-small-top">Entertainment</h3>
                    </div>
                    <!--
                    <div class="event-highlight">
                        <div class="uk-inline uk-transition-toggle">
                            <img src="<%- url_for("assets/2019/playing-cards-carved.jpg") %>" alt="Carved Ace of Hearts card">
                            <div class="uk-transition-fade uk-overlay uk-overlay-primary uk-dark uk-position-cover">
                                <h3>Feeling Lucky?</h3>
                                <p>Top carvers rip through logs at the Seneca Allegany Casino to create sculptures for you to place the winning bid on.</p>
                                <a href="https://fb.com/CarvingAtTheCasino" class="readon primary"><i class="fab fa-facebook fa-lg"></i> More info on the Facebook page</a>
                            </div>
                        </div>
                        <h3 class="uk-margin-medium-bottom uk-margin-small-top">Carving at the Casino</h3>
                    </div>
                    -->
                </div>
            </div>
        </div>                        
    </div>
</section>
<!-- Highlights End -->