<!-- Bottom Nav Start -->
<section class="tc-footer-nav uk-section sec-color" id="tc-footer-nav">
    <div class="uk-container ">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-1-1 uk-margin-small-bottom">
                <div class="uk-grid">
                    <div class="uk-width-1-6@m uk-width-1-3@s">
                        <img src="<%- url_for("/assets/appArts-logo.png") %>">
                    </div>
                </div>
            </div>
            <div class="uk-width-1-2@m">
                <h3 class="uk-h4">Appalachian Arts Studio</h3>
                <p>The Chainsaw Carvers Rendezvous is an <a href="http://appalachian-arts.com/" target="_blank">Appalachian Arts Studio</a> event.</p>
            </div>                              
            <div class="uk-width-1-2@m">
                <h3 class="uk-h4">2020 Rendezvous</h3>
                <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <ul class="uk-list">
                            <li>
                                <a href="<%- url_for("/") %>" class="uk-link-muted">Home</a>    
                            </li>
                            <li>
                                <a href="<%- url_for("/carvers") %>" class="uk-link-muted">Carvers Attending</a>  
                            </li>
                            <li>
                                <a href="<%- url_for("/schedule") %>" class="uk-link-muted">Schedule</a>    
                            </li>
                            <li>
                                <a href="<%- url_for("/map") %>" class="uk-link-muted">Map</a>    
                            </li>
                            <li>
                                <a href="<%- url_for("/history") %>" class="uk-link-muted">History</a>    
                            </li>
                        </ul>
                    </div>

                    <div class="uk-width-1-2">
                        <ul class="uk-list">
                            <li>
                                <a href="<%- url_for("/carver-info") %>" class="uk-link-muted">Information for Carvers</a>    
                            </li>
                            <li>
                                <a href="<%- url_for("/vendor-info") %>" class="uk-link-muted">Information for Vendors</a>  
                            </li>
                            <li>
                                <a href="<%- url_for("/sponsor-info") %>" class="uk-link-muted">Information for Sponsors</a>  
                            </li>
                            <li>
                                <a href="<%- url_for("/media-info") %>" class="uk-link-muted">Information for Media</a>    
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- Bottom Nav End -->