<!-- Hero Start -->
<section class="tc-hero" id="tc-hero">
    <div class="uk-position-relative uk-visible-toggle" uk-slideshow="{animation: 'swipe', autoplay: true}">
        <ul class="uk-slideshow-items" uk-height-viewport>
            <!-- <li>
                <img src="<%- url_for("/assets/2022/hero-slides/carving-casino.jpg") %>" uk-cover alt="Carving at the Casino logo">
                <div class="uk-inline-clip uk-transition-fade uk-position-cover uk-overlay-primary transition-delay-750" style="background: rgba(34,34,34,.5);">
                    <div class="uk-position-center uk-text-center uk-text-middle">
                        <p class="sldr-para25 white-color">Three days of carving | Two Auctions</p>
                        <h3 class="sldr-title-large bold-font">June 3 - 5</h3>
                        <hr style="width:50%; margin: 0 auto;" />
                        <p class="sldr-para25 white-color">Salamanca, NY | Seneca Allegany Resort & Casino</p>
                        <a href="https://carvingatthecasino.com">
                            <button class="uk-button uk-button-primary uk-button-large">
                                Event information and schedule
                            </button>
                        </a>
                    </div>
                </div>
            </li> -->
            <li>
                <img src="<%- url_for("/assets/2019/hero-slides/2018-quick-carve.jpg") %>" uk-cover alt="Quick Carve Demonstration at the 2018 Rendezvous">
                <div class="uk-inline-clip uk-transition-fade uk-position-cover uk-overlay-primary transition-delay-750">
                    <div class="uk-position-center uk-text-center uk-text-middle">
                        <h1 class="uk-heading-large bold-font">The 2024 Rendezvous</h1>
                        <h3 class="uk-heading-large bold-font">April 24&nbsp;-&nbsp;27</h3>
                        </h3>
                        <p class="white-color">Held at THE RIDGWAY MILLS CAMPGROUND</p>
                        <p class="white-color">260 W Main St, Ridgway, PA</p>

                        <a href="/schedule">
                            <button class="uk-button uk-button-primary uk-button-large">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="width:20px; height: 20px; margin-right: 10px">
                                    <path style="fill:#666" d="M160 32V64H288V32C288 14.33 302.3 0 320 0C337.7 0 352 14.33 352 32V64H400C426.5 64 448 85.49 448 112V160H0V112C0 85.49 21.49 64 48 64H96V32C96 14.33 110.3 0 128 0C145.7 0 160 14.33 160 32zM0 192H448V464C448 490.5 426.5 512 400 512H48C21.49 512 0 490.5 0 464V192zM233.3 250.9C229.5 243.2 218.5 243.2 214.7 250.9L191.1 298.7L138.3 306.4C129.8 307.6 126.4 318.1 132.6 324.1L170.7 361.3L161.7 413.8C160.3 422.3 169.2 428.8 176.8 424.8L223.1 400L271.2 424.8C278.8 428.8 287.7 422.3 286.3 413.8L277.3 361.3L315.4 324.1C321.6 318.1 318.2 307.6 309.7 306.4L256.9 298.7L233.3 250.9z"/></svg> Schedule
                            </button>
                        </a>

                        <a href="/tickets">
                            <button class="uk-button uk-button-primary uk-button-large">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" style="width:20px; height: 20px; margin-right: 10px"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#666" d="M64 64C28.7 64 0 92.7 0 128v64c0 8.8 7.4 15.7 15.7 18.6C34.5 217.1 48 235 48 256s-13.5 38.9-32.3 45.4C7.4 304.3 0 311.2 0 320v64c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V320c0-8.8-7.4-15.7-15.7-18.6C541.5 294.9 528 277 528 256s13.5-38.9 32.3-45.4c8.3-2.9 15.7-9.8 15.7-18.6V128c0-35.3-28.7-64-64-64H64zm64 112l0 160c0 8.8 7.2 16 16 16H432c8.8 0 16-7.2 16-16V176c0-8.8-7.2-16-16-16H144c-8.8 0-16 7.2-16 16zM96 160c0-17.7 14.3-32 32-32H448c17.7 0 32 14.3 32 32V352c0 17.7-14.3 32-32 32H128c-17.7 0-32-14.3-32-32V160z"/></svg> Tickets
                            </button>
                        </a>

                    </div>
                </div>
            </li>
            <!-- <li>
                <img src="<%- url_for("/assets/2022/hero-slides/parking.jpg") %>" uk-cover alt="Parking aerial photo ">
                <div class="uk-inline-clip uk-transition-fade uk-position-cover uk-overlay-primary transition-delay-750">
                    <div class="uk-position-center uk-text-center uk-text-middle">
                        <p class="sldr-para25 white-color">Onsite Parking</p>
                        <h3 class="sldr-title-large bold-font">$5 /car</h3>
                        <hr style="width:50%; margin: 0 auto;" />
                        <p class="sldr-para25 white-color">Limited space | Supports Tri County Rails to Trails programs</p>
                    </div>
                </div>
            </li> -->
            <!-- <li>
                <img src="<%- url_for("/assets/2022/hero-slides/2022-shirt.jpg") %>" uk-cover alt="2022 shirt design">
            </li> -->
            <li>
                <img src="<%- url_for("/assets/2022/hero-slides/saws.jpg") %>" uk-cover alt="Chainsaws ">
                <div class="uk-inline-clip uk-transition-fade uk-position-cover uk-overlay-primary transition-delay-750">
                    <div class="uk-position-center uk-text-center uk-text-middle">
                        <p class="sldr-para25 white-color">100 carvers from across the states and internationally</p>
                        <h3 class="sldr-title-large bold-font">Live Carving</h3>
                        <hr style="width:50%; margin: 0 auto;" />
                        <p class="sldr-para25 white-color">April 24-27</p>
                    </div>
                </div>
            </li>
            <li>
                <img src="<%- url_for("/assets/2019/hero-slides/deer-running.jpg") %>" uk-cover alt="Running deer carving">
                <!-- <div class="uk-inline-clip uk-transition-fade uk-position-cover uk-overlay-primary transition-delay-1500">
                    <div class="uk-position-center uk-text-center uk-text-middle">
                        <h3 class="sldr-title-large bold-font">Carver Registation</h3>
                        <p class="sldr-para25 white-color">Bring your saws for live carving</p>
                        <p><a class="uk-button uk-button-primary" href="https://register.chainsawrendezvous.org/carvers">Carver Registration</a></p>
                    </div>
                </div> -->
            </li>
            <!--
            <li>
                <img src="<%- url_for("/assets/2019/hero-slides/2018-winners.jpg") %>" uk-cover alt="Dawna Ceriani and Dennis Beach">
                <div class="uk-inline-clip uk-transition-fade uk-position-cover uk-overlay-primary transition-delay-500">
                    <div class="uk-position-center uk-text-center uk-text-middle">
                        <h3 class="sldr-title-large bold-font">Choose Best of Show</h3>
                        <p class="sldr-para25 white-color">Your vote counts for the People's Choice and Social Media awards!</p>
                        <div class="spacer2"></div>
                        <a href="<%- url_for("/2019/awards/")%>" class="readon uk-margin-right success">How to vote for People's Choice</a> <a href="<%- url_for("/2019/awards/")%>" class="readon warning">How for Social Media Choice</a>  
                    </div>
                </div>
            </li>
            <li>
                <img src="<%- url_for("/assets/2019/hero-slides/2018-carving-casino.jpg") %>" uk-cover alt="2018 Carving at the Casino Carvers">
                <div class="uk-inline-clip uk-transition-fade uk-position-cover uk-overlay-primary transition-delay-1500">
                        <div class="uk-position-center uk-text-center uk-text-middle">
                        <h3 class="sldr-title-large bold-font">Carving at the Casino</h3>
                        <p class="sldr-para25 white-color">Join us for an exciting weekend of carving with two auctions</p>
                        <div class="spacer2"></div>
                        <hr style="width:50%; margin: 0 auto;" />
                        <p class="sldr-title-medium white-color">2019</p>
                        <p class="sldr-para25 white-color">Seneca Allegany Resort & Casino <br> Salamanca, NY</p>
                        <hr style="width:50%; margin: 0 auto;" />
                    </div>
                </div>
            </li>
        -->
        </ul>
        <div class="uk-light">
            <a class="uk-position-center-left uk-position-small uk-hidden-hover uk-slidenav" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover uk-slidenav" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        </div>
    </div>
</section>
<!-- Hero End -->