<!-- Hero Start -->
<section class="tc-hero" id="tc-hero">
    <div class="uk-position-relative uk-visible-toggle" uk-slideshow="{animation: 'swipe', autoplay: true}">
        <ul class="uk-slideshow-items" uk-height-viewport>
            <li>
                <img src="<%- url_for("/assets/2019/hero-slides/2018-quick-carve.jpg") %>" uk-cover alt="Quick Carve Demonstration at the 2018 Rendezvous">
                <div class="uk-inline-clip uk-transition-fade uk-position-cover uk-overlay-primary transition-delay-750">
                    <div class="uk-position-center uk-text-center uk-text-middle">
                        <h3 class="sldr-title-large bold-font">Chainsaw Carvers Rendezvous</h3>
                        <p class="sldr-para25 white-color">April 23 - 25, 2020 in Ridgway, PA</p>
                    </div>
                </div>
            </li>
            <!--
            <li>
                <img src="<%- url_for("/assets/2019/hero-slides/rego-joseph-collage.jpg") %>" uk-cover alt="Artwork inspired by Joseph Rego's carved and painted Raven on a Moon">
                <div class="uk-inline-clip uk-transition-fade uk-position-cover uk-overlay-primary transition-delay-750">
                    <div class="uk-position-center uk-text-center uk-text-middle">
                        <p class="sldr-para25 white-color">2018's Rendezvous highlighted the work of</p>
                        <h3 class="sldr-title-large bold-font">Joe Rego</h3>
                        <hr style="width:50%; margin: 0 auto;" />
                        <div class="spacer2"></div>
                        <a href="<%- url_for("/history")%>" class="readon uk-margin-right info">Joe's bio</a>
                    </div>
                </div>
            </li>
            <li>
                <img src="<%- url_for("/assets/2019/hero-slides/2018-winners.jpg") %>" uk-cover alt="Dawna Ceriani and Dennis Beach">
                <div class="uk-inline-clip uk-transition-fade uk-position-cover uk-overlay-primary transition-delay-500">
                    <div class="uk-position-center uk-text-center uk-text-middle">
                        <h3 class="sldr-title-large bold-font">Choose Best of Show</h3>
                        <p class="sldr-para25 white-color">Your vote counts for the People's Choice and Social Media awards!</p>
                        <div class="spacer2"></div>
                        <a href="<%- url_for("/2019/awards/")%>" class="readon uk-margin-right success">How to vote for People's Choice</a> <a href="<%- url_for("/2019/awards/")%>" class="readon warning">How for Social Media Choice</a>  
                    </div>
                </div>
            </li>
            <li>
                <img src="<%- url_for("/assets/2019/hero-slides/2018-carving-casino.jpg") %>" uk-cover alt="2018 Carving at the Casino Carvers">
                <div class="uk-inline-clip uk-transition-fade uk-position-cover uk-overlay-primary transition-delay-1500">
                        <div class="uk-position-center uk-text-center uk-text-middle">
                        <h3 class="sldr-title-large bold-font">Carving at the Casino</h3>
                        <p class="sldr-para25 white-color">Join us for an exciting weekend of carving with two auctions</p>
                        <div class="spacer2"></div>
                        <hr style="width:50%; margin: 0 auto;" />
                        <p class="sldr-title-medium white-color">2019</p>
                        <p class="sldr-para25 white-color">Seneca Allegany Resort & Casino <br> Salamanca, NY</p>
                        <hr style="width:50%; margin: 0 auto;" />
                    </div>
                </div>
            </li>
        -->
        </ul>
        <div class="uk-light">
            <a class="uk-position-center-left uk-position-small uk-hidden-hover uk-slidenav" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover uk-slidenav" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        </div>
    </div>
</section>
<!-- Hero End -->