<!-- Hero Start -->
<section class="tc-hero" id="tc-hero">
    <div class="uk-position-relative uk-visible-toggle" uk-slideshow="{animation: 'swipe', autoplay: true}">
        <ul class="uk-slideshow-items" uk-height-viewport>
            <li>
                <img src="<%- url_for("/assets/2018/hero-slides/deer-running.jpg") %>" uk-cover alt="Buck, Doe, and Fawn running">
                <div class="uk-inline-clip uk-transition-fade uk-position-cover uk-overlay-primary transition-delay-750">
                    <div class="uk-position-center uk-text-center uk-text-middle">
                        <h3 class="sldr-title-large bold-font">Chainsaw Carvers Rendezvous</h3>
                        <p class="sldr-para25 white-color">April 26 - 28, 2018</p>
                        <p class="sldr-para25 white-color">Ridgway, PA</p>
                    </div>
                </div>
            </li>
            <li>
                <img src="<%- url_for("/assets/2018/hero-slides/turkey.jpg") %>" uk-cover alt="Carved wild turkey">
                <div class="uk-inline-clip uk-transition-fade uk-position-cover uk-overlay-primary transition-delay-500">
                    <div class="uk-position-center uk-text-center uk-text-middle">
                        <h3 class="sldr-title-large bold-font">Choose Best of Show</h3>
                        <p class="sldr-para25 white-color">Your vote counts for the People's Choice and Social Media awards!</p>
                        <div class="spacer2"></div>
                        <a href="<%- url_for("/2018/awards/")%>" class="readon uk-margin-right success">How to vote for People's Choice</a> <a href="<%- url_for("/2018/awards/")%>" class="readon warning">How for Social Media Choice</a>  
                    </div>
                </div>
            </li>
            <li>
                <img src="<%- url_for("/assets/2018/hero-slides/2017-carving-casino.jpg") %>" uk-cover alt="2017 Carving at the Casino Carvers">
                <div class="uk-inline-clip uk-transition-fade uk-position-cover uk-overlay-primary transition-delay-1500">
                        <div class="uk-position-center uk-text-center uk-text-middle">
                        <h3 class="sldr-title-large bold-font">Carving at the Casino</h3>
                        <p class="sldr-para25 white-color">Join us for an exciting weekend of carving with two auctions</p>
                        <div class="spacer2"></div>
                        <hr style="width:50%; margin: 0 auto;" />
                        <p class="sldr-title-medium white-color">June 8-10, 2018</p>
                        <p class="sldr-para25 white-color">Seneca Allegany Resort & Casino <br> Salamanca, NY</p>
                        <hr style="width:50%; margin: 0 auto;" />
                    </div>
                </div>
            </li>
        </ul>
        <div class="uk-light">
            <a class="uk-position-center-left uk-position-small uk-hidden-hover uk-slidenav" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover uk-slidenav" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        </div>
    </div>
</section>
<!-- Hero End -->