<!-- Nav Start -->
<section class="uk-section uk-padding-remove-vertical uk-light" uk-sticky="">
    <!-- <div class="uk-container uk-container-expand announcement_bar">
        <nav class="uk-navbar-container uk-navbar-transparent announcement_bar" uk-navbar>
            <div class="uk-navbar-center">
                <strong>Get to the carving quick!</strong>&nbsp; <a href="https://chainsawrendezvous.simpletix.com/" target="_blank">Purchase your entry tickets online.</a>
            </div>
        </nav>
    </div> -->
    <div class="uk-container uk-container-expand tc-nav" id="tc-nav">
        <nav class="uk-navbar" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="<%- url_for('/') %>">
                    <img uk-svg src="<%- url_for("/assets/2018-logo.svg") %>" width="300" class="uk-margin-small-right uk-height-1-1">
                </a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav uk-visible@m">
                    <li class="uk-active"><a href="<%- url_for('/') %>">Home</a></li>
                    <li><a href="<%- url_for('/carvers') %>">Carvers Attending</a></li>
                    <li><a href="<%- url_for('/schedule') %>">Schedule</a></li>
                    <!-- <li><a href="<%- url_for('/map') %>">Map</a></li> -->
                    <li><a href="<%- url_for('/vendors') %>">Vendors</a></li>
                    <li><a href="<%- url_for('/history') %>">History</a></li>
                    <li><a href="https://fb.com/chainsawrendezvous"><i class="fab fa-facebook-f"></i></a></li>
                    <!-- <li><a href="https://www.youtube.com/user/ridgwayrendezvous"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="https://snapchat.com/add/chainsaw-vous"><i class="fab fa-snapchat-ghost"></i></a></li>   -->
                </ul>
                <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon href="#" uk-toggle="target: #offcanvas-nav"></a>
            </div>
        </nav>
    </div>
</section>
<!-- Nav End -->