<!-- Start Offcanvas -->
<div id="offcanvas-nav" uk-offcanvas="overlay: true; flip: true">
    <div class="uk-offcanvas-bar">
        <a href="" class="uk-modal-close-default" uk-close></a>
        <ul class="uk-nav uk-nav-default">
            <li class="uk-active"><a href="<%- url_for('/') %>">Home</a></li>
            <li><a href="https://chainsawrendezvous.simpletix.com/" target="_blank">Buy Tickets</a></li>
            <li><a href="<%- url_for('/carvers') %>">Carvers Attending</a></li>
            <li><a href="<%- url_for('/entertainment') %>">Entertainment</a></li>
            <li><a href="<%- url_for('/schedule') %>">Schedule</a></li>
            <li><a href="<%- url_for('/vendors') %>">Vendors</a></li>
            <li><a href="<%- url_for('/history') %>">History</a></li>
        </ul>
        <ul class="uk-iconnav">
            <li><a href="https://fb.com/chainsawrendezvous"><i class="fab fa-facebook-f"></i></a></li>
            <!-- <li><a href="https://www.youtube.com/user/ridgwayrendezvous"><i class="fab fa-youtube"></i></a></li> -->
            <!-- <li><a href="https://snapchat.com/add/chainsaw-vous"><i class="fab fa-snapchat-ghost"></i></a></li>  -->
        </ul>
    </div>
</div>
<!-- End Offcanvas -->