<!--

 ######  ########   #######  ##    ##  ######   #######  ########   ######  
##    ## ##     ## ##     ## ###   ## ##    ## ##     ## ##     ## ##    ## 
##       ##     ## ##     ## ####  ## ##       ##     ## ##     ## ##       
 ######  ########  ##     ## ## ## ##  ######  ##     ## ########   ######  
      ## ##        ##     ## ##  ####       ## ##     ## ##   ##         ## 
##    ## ##        ##     ## ##   ### ##    ## ##     ## ##    ##  ##    ## 
 ######  ##         #######  ##    ##  ######   #######  ##     ##  ######  

-->

<div class="uk-section uk-section-default">
    <div class="uk-container">

            <h2 class="title1 title-center mb60">Thanks to our sponsors</h2>

<!--
.##......######..##..##..######..##................##...
.##......##......##..##..##......##...............###...
.##......####....##..##..####....##................##...
.##......##.......####...##......##................##...
.######..######....##....######..######..........######.
-->

        <div id="sponsors-level-1" class="sponsors uk-section uk-section-xsmall">
            <div class="uk-flex uk-flex-center uk-flex-middle uk-grid "> <!-- uk-child-width-1-1@s uk-child-width-1-3@m -->
                <div class="uk-card uk-card-body uk-margin-left uk-margin-bottom uk-text-center sponsor" sponsor-level="1">
                        <a href="http://appalachian-arts.com/" target="_blank">
                            <img src="<%- url_for("/assets/2019/sponsors/app-arts.png") %>" alt="Appalachian Arts Studio" />
                        </a>
                    </div>
            </div>
        </div>

<!--
.##......######..##..##..######..##...............####..
.##......##......##..##..##......##..................##.
.##......####....##..##..####....##...............####..
.##......##.......####...##......##..............##.....
.######..######....##....######..######..........######.
-->
        <div id="sponsors-level-2" class="sponsors uk-section uk-section-xsmall">
            <div class="uk-flex uk-flex-center uk-flex-middle uk-grid "> <!-- uk-child-width-1-2@s uk-child-width-1-4@m -->
                <div class="uk-card uk-card-body uk-margin-left uk-margin-bottom uk-text-center sponsor" sponsor-level="2">
                    <a href="https://www.aspenfuels.us" target="_blank">
                        <img src="<%- url_for("/assets/2022/sponsors/aspen-fuels.gif") %>" alt="Aspen Fuels" />
                    </a>
                </div>
                <!--
                <div class="uk-card uk-card-body uk-margin-left uk-margin-bottom uk-text-center sponsor" sponsor-level="2">
                    <a href="https://www.husqvarna.com/us/" target="_blank">
                        <img src="<%- url_for("/assets/2019/sponsors/husqvarna.png") %>" alt="Husqvarna" />
                    </a>
                </div>
                -->
                <div class="uk-card uk-card-body uk-margin-left uk-margin-bottom uk-text-center sponsor" sponsor-level="2">
                    <a href="https://www.natfuel.com/seneca/" target="_blank">
                        <img src="<%- url_for("/assets/2019/sponsors/seneca-resources.png") %>" alt="Seneca Resources" />
                    </a>
                </div>
                <div class="uk-card uk-card-body uk-margin-left uk-margin-bottom uk-text-center sponsor" sponsor-level="2">
                    <a href="https://www.stihlusa.com/" target="_blank">
                        <img src="<%- url_for("/assets/2019/sponsors/stihl.png") %>" alt="Stihl" />
                    </a>
                </div>
                <div class="uk-card uk-card-body uk-margin-left uk-margin-bottom uk-text-center sponsor" sponsor-level="2">
                    <a href="https://gflenv.com/request-service/" target="_blank">
                        <img src="<%- url_for("/assets/2022/sponsors/gfl.gif") %>" alt="Green For Life" />
                    </a>
                </div>
                
                
            </div>
        </div>
<!--
.##......######..##..##..######..##..............######.
.##......##......##..##..##......##.................##..
.##......####....##..##..####....##................###..
.##......##.......####...##......##..................##.
.######..######....##....######..######..........#####..
-->
        <div id="sponsors-level-3" class="sponsors uk-section uk-section-xsmall">
            <div class="uk-flex uk-flex-center uk-flex-middle uk-grid ">                   
                <div class="uk-card uk-card-body uk-margin-left uk-margin-bottom uk-text-center sponsor" sponsor-level="3">
                    <a href="http://www.royalinnpa.com/" target="_blank">
                        <img src="<%- url_for("/assets/2019/sponsors/royal-inn.png") %>" alt="Royal Inn" />
                    </a>
                </div>
                <div class="uk-card uk-card-body uk-margin-left uk-margin-bottom uk-text-center sponsor" sponsor-level="3">
                    <a href="https://www.stmaryschevrolet.com" target="_blank">
                        <img src="<%- url_for("/assets/2019/sponsors/st-mary-chevy.png") %>" alt="St. Mary's Chevy" />
                    </a>
                </div>
                <div class="uk-card uk-card-body uk-margin-left uk-margin-bottom uk-text-center sponsor" sponsor-level="3">
                    <a href="https://www.elkcountyfoods.com/" target="_blank">
                        <img src="<%- url_for("/assets/2019/sponsors/elk-county-foods.png") %>" alt="Elk County Foods" />
                    </a>
                </div>
                <!-- <div class="uk-card uk-card-body uk-margin-left uk-margin-bottom sponsor" sponsor-level="3">
                    <a href="https://alphaprecisionpm.com/" target="_blank">
                        <img src="<%- url_for("/assets/2019/sponsors/alpha-precision.png") %>" alt="Alpha Precision Group" />
                    </a>
                </div> -->
            </div>
        </div>
<!--
.##......######..##..##..######..##..................##.
.##......##......##..##..##......##..............##..##.
.##......####....##..##..####....##..............######.
.##......##.......####...##......##..................##.
.######..######....##....######..######..............##.
-->
        <div id="sponsors-level-4" class="sponsors uk-section uk-section-xsmall">
            <div class="uk-flex uk-flex-center uk-flex-middle uk-grid ">
                <div class="uk-card uk-card-body uk-margin-left uk-margin-bottom sponsor" sponsor-level="3">
                    <a href="http://www.ridgwayborough.com" target="_blank">
                        <img src="<%- url_for("/assets/2019/sponsors/ridgway-borough.png") %>" alt="Ridgway Borough" />
                    </a>
                </div>
                <div class="uk-card uk-card-body uk-margin-left uk-margin-bottom uk-text-center sponsor" sponsor-level="4">
                    <a href="http://straubbeer.com/" target="_blank">
                        <img src="<%- url_for("/assets/2019/sponsors/straub.png") %>"" alt="Straub Brewery" />
                    </a>
                </div>
                <!-- <div class="uk-card uk-card-body uk-margin-left uk-margin-bottom sponsor" sponsor-level="3">
                    <a href="https://www.hud-son.com/" target="_blank">
                        <img src="<%- url_for("/assets/2019/sponsors/hud-son.jpg") %>" alt="Hud-Son Forest Equipment" />
                    </a>
                </div> -->
                <div class="uk-card uk-card-body uk-margin-left uk-margin-bottom sponsor" sponsor-level="3">
                    <a href="https://heatmasterss.com/" target="_blank">
                        <img src="<%- url_for("/assets/2022/sponsors/heat-master.gif") %>" alt="HeatMaster" />
                    </a>
                </div>
            </div>
        </div>
<!--
.##......######..##..##..######..##..............######.
.##......##......##..##..##......##..............##.....
.##......####....##..##..####....##...............####..
.##......##.......####...##......##..................##.
.######..######....##....######..######..........#####..
-->
        <div id="sponsors-level-5" class="sponsors uk-section uk-section-xsmall">
            <div class="uk-flex uk-flex-center uk-flex-middle uk-grid ">
                <!-- <div class="uk-card uk-card-body uk-margin-left uk-margin-bottom sponsor" sponsor-level="5">
                    <a href="https://www.cnbbank.bank/" target="_blank">
                        CNB Bank
                    </a>
                </div> -->
                <!-- <div class="uk-card uk-card-body uk-margin-left uk-margin-bottom sponsor" sponsor-level="5">
                    <a href="https://agents.allstate.com/gerg-insurance-agencies-saint-marys-pa.html" target="_blank">
                        Gerg Allstate Insurance
                    </a>
                </div> -->
                <!-- <div class="uk-card uk-card-body uk-margin-left uk-margin-bottom sponsor" sponsor-level="5">
                    <a href="https://lumberheritage.org/" target="_blank">
                        Lumber Heritage
                    </a>
                </div> -->
                <!-- <div class="uk-card uk-card-body uk-margin-left uk-margin-bottom sponsor" sponsor-level="5">
                    <a href="https://hamptoninn3.hilton.com/en/hotels/pennsylvania/hampton-inn-dubois-DUJPAHX/accommodations/index.html" target="_blank">
                        Hampton Inn/DuBois
                    </a>
                </div> -->
                <!-- <div class="uk-card uk-card-body uk-margin-left uk-margin-bottom sponsor" sponsor-level="5">
                    <a href="https://www.arbortechtools.com/us/" target="_blank">
                        Arbor Tech
                    </a>
                </div> -->
                <!-- <div class="uk-card uk-card-body uk-margin-left uk-margin-bottom sponsor" sponsor-level="5">
                    <a href="http://www.rideata.net/elk-county" target="_blank">
                        Ride ATA
                    </a>
                </div> -->
            </div>
        </div>        
    </div>
</div>