<!doctype html>
<% if (config.language){ %>
  <html lang="<%= config.language %>">
<% } else { %>
  <html>
<% } %>

<%- partial('_partial/head') %>

<body>

    <script>
      fbq('track', 'ViewContent');
    </script>
      

    <div class="uk-offcanvas-content">
    
    <%- partial('_partial/nav') %>

    <%- body %>

    <%- partial('_partial/sponsors.ejs') %>

    <%- partial('_partial/footer-nav.ejs') %>

    <%- partial('_partial/footer.ejs') %>

    <%- partial('_partial/offcanvas-nav.ejs') %>

    </div>

    <!-- Vendor js -->
    <script src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.js"></script>

    <!-- AddEvent script -->
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-25701668-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-25701668-1');
    </script>


    <!-- Scripts Js -->
    <%- js("js/scripts.js") %>
    <%- js("js/atcb.min.js") %>
    
    <!-- Instant Pages -->
    <script src="//instant.page/1.1.0" type="module" integrity="sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp"></script>

</body>

</html>