<!doctype html>
<% if (config.language){ %>
  <html lang="<%= config.language %>">
<% } else { %>
  <html>
<% } %>

<%- partial('_partial/head') %>

<body>

    <div class="uk-offcanvas-content">
    
    <%- partial('_partial/nav') %>

    <%- body %>

    <%- partial('_partial/sponsors.ejs') %>

    <%- partial('_partial/footer-nav.ejs') %>

    <%- partial('_partial/footer.ejs') %>

    <%- partial('_partial/offcanvas-nav.ejs') %>

    </div>

    <!-- Vendor js -->
    <script src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.38/js/uikit.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.38/js/uikit-icons.js"></script>

    <!-- AddEvent script -->
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

    <!-- Scripts Js -->
    <%# js("scripts/scripts.js") %>    

</body>

</html>